<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>

<section id="show-page">
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Reason: </div>
  <div><%= flight.flightReason %></div>
  <div>Flight No.: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <div>Arrival: </div>
  <div><%= flight.arrival %></div>
  <div>Returing Flyer: </div>
  <div><%= flight.returningFlyer ? 'Yes' : 'No' %></div>
</section>
</section>
<!-- new markup below -->
<br>
<form id="add-destinations-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <br>
  <input type="submit" value="Ticket Information">
  <br>
  <br>
  <input type="submit" value="Add destinations">
</form>

