<section id="show-page">
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Reason: </div>
  <div><%= flight.flightReason %></div>
  <div>Flight No.: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <div>Returing Flyer: </div>
  <div><%= flight.returningFlyer ? 'Yes' : 'No' %></div>
</section>
</section>
<!-- new markup below -->
<br><br><h2>Reviews</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destination">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Reason:</label>
  <select name="reason">
    <option value="Business">Business</option>
    <option value="Personal">Personal</option>
  </select>
  <input type="submit" value="Add destination">
</form>