<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>

    <%- include('../partials/header') %>

<section id="show-page">
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <div>Arrival: </div>
  <div><%= flight.arrival %></div>
  <div>Returing Flyer: </div>
  <div><%= flight.returningFlyer ? 'Yes' : 'No' %></div>
  <form id="add-destinations-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <br>
  <input type="submit" value="Add destinations">
</form>
</section>
<!-- new markup below -->
<br>
<form>
   
  <div id="add-ticket-form ticketForm">
    <h1>Ticket Details</h1>
    <section class= "ticket-details"></section>
    <form method="POST" action='/flights/<%= flight %>/tickets'>
    <label> Seat Selection:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <br/>
    <br/>
    <label>Cost:</label>
    <input name="cost" type="number" min="0">
    <br/>
    <br/>
    <input type ="submit" value="Add Ticket">
    </form>
  </div>
  
</form>



</html>

